<% provide(:title, "Sobre Nós") %>

 <div class="page-header">
       <h1>Quem Somos</h1>
  </div>

<div class="container">
	
	<div class="row clearfix">
		<div class="col-md-3 column">
		<div class='thumbnail'>
		  	<%= image_tag("camila.jpg", :alt => "Camila Andrade") %>
		</div>
		</div>
		<div class="col-md-9 column">
			<dl>
				<dt>
					Camila Andrade
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
			</dl>
		</div>
		</div>
		
	</div>
	
	<div class="row clearfix">
		<div class="col-md-3 column">
	 <div class='thumbnail'>
		  	<%= image_tag("leilane.jpg", :alt => "Leilane Araújo") %>
		  	</div>
		</div>
		<div class="col-md-9 column">
			<dl>
				<dt>
					Leilane Araújo
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
			</dl>
		</div>
	</div>
	
</div>