<div class="container">
	
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Cuidar, <small>Terapia Ocupacional</small>
				</h1>
			</div>
		</div>
	</div>
	
	
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
					Traumatismo Cranioencefálico
					</h3>
				</div>
				<div class="panel-body">
         	<div class='img'>
		  	<%= image_tag("post03062015.jpg", :alt => "TCE") %>
				</div>

     
      <p align="justify">
        Estamos trazendo pra vocês hoje, um pouco do nosso conhecimento sobre o Traumatismo Cranioencefálico (TCE), que se trata uma lesão ao cérebro, não degenerativa ou congênita, provocada por força física externa. Os primeiros 24 meses são determinantes para a estabilização do quadro, pois os pacientes passam por mudanças significativas, que são determinadas de acordo com a área do cérebro lesionada. As causas mais comuns são os abusos físicos, quedas, acidentes automobilísticos e atropelamento. Os distúrbios causados pelo traumatismo podem ser permanentes ou temporários, com comprometimento funcional parcial ou total. 
      Fisiopatologicamente, o TCE é dividido em lesão primária – quando a força mecânica atua no momento do impacto inicia que é transmitida ao crânio, resultando em lesões difusas (decorrente de forças de desaceleração e rotação) ou em lesões focais (decorrente de forças de contato direto, ou seja, são as contusões e lacerações do cérebro). E em lesão secundária – quando o traumatismo surge nas primeiras horas após o acidente e caracteriza-se por alterações intra e extra-celulares, ou seja, são os hematomas intracranianos e o aumento da pressão intracraniana, chamada de hipertensão intracraniana (WINN et al., 2011).
      Segundo Goldman e Bennett (2001), o paciente pode apresentar alteração da consciência, choque cirúrgico, transtorno da função neuromuscular, transtorno sensorial, transtorno de linguagem, alterações da personalidade, transtornos visuais, epilepsia, incontinência, complicações por imobilização prolongada, paralisia de nervos cranianos, alterações na função autonômica e, posturas anormais.
      Sabendo disto, é visível a importância da intervenção terapia ocupacional o mais breve possível, visto que este profissional terá como objetivos iniciais o posicionamento correto do paciente no leito e/ou cadeira de rodas, avaliar a necessidade da prescrição de órteses para os membros superiores, fará a estimulação sensorial adequada ao quadro atual do paciente, adaptações domiciliar e dos matérias de AVDs, assim como, passará todas as orientações necessárias para a família, visando sempre a melhor qualidade de vida, independência do paciente. Além de adequar as respostas do desempenho funcional dos membros superiores, a TO visa estimular os aspectos cognitivos para alcançar melhores resultados.
      Vale salientar também que é imprescindível a cooperação da família em todas as etapas da reabilitação e que estes saibam como ajudar.
      </p>
    </div>
 
				</div>
				<div class="panel-footer">
			<%= Time.now.strftime("%d-%m-%Y %H:%M:%S %Z") %>
				</div>
			</div>
		</div>

		<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
					Super Proteção
					</h3>
				</div>
				<div class="panel-body">
          		<div class='img'>
		  	<%= image_tag("post14042015.jpg", :alt => "Super Protecao") %>
				</div>

     
      <p align="justify">
        Bom dia!! Estamos trazendo hoje para vocês um post falando um pouco sobre o cuidado dos pais com seus filhos, por saber que as vezes essa proteção se torna um pouco exagerada.
      Sabemos quão difícil é educar uma criança, principalmente, quando esta é o primeiro(a) filho(a), ainda mais pelo receio de que aquele ser tão pequeno, frágil e sem maldade passe por sofrimentos/frustrações, seja tão presente. Mas o que muitos pais não sabem é que a superproteção tem uma grande influência no desenvolvimento global da criança. Este ser tão amoroso necessita explorar o ambiente ao qual está inserido de forma adequada, para que possam por em prática seus movimentos e domina-los; ter maior controle da ansiedade; segurança; aprendam a ser independentes; e respondam coerentemente aos estímulos que são recebidos (TORRES et al., 1999).
      A principal forma dessa exploração acontece no brincar, que faz parte das principais áreas de ocupação de uma criança. Tendo conhecimento disto, permita que seu filho brincaque, explore o ambiente e tenha experiências sensoriais, pois é através da brincadeira que eles conhecem o mundo ao seu redor e começam a se organizar, a construir as relações sociais, aprendem que existem regras e devem obedece-las, a cooperar dentre outras vantagens!
      Estamos a disposição para responder dúvidas que lhes surgirem! Obrigada :)
      Camila Andrade
      Leilane Meneses
  
      </p>
    </div>
 
				</div>
				<div class="panel-footer">
			<%= Time.now.strftime("%d-%m-%Y %H:%M:%S %Z") %>
				</div>
			</div>
		</div>
	</div>
</div>