<footer class="footer">
  <small>
    Terapia Ocupacional por Camila Andrade e Leilane Araújo
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contato", contato_path %></li>
    </ul>
  </nav>
</footer>

